footer{a: c;
    div.wrap{a: c;
        h1{a: c;
            a{a: c;

            }
        }
        address{a: c;

        }
        ul{a: c;
            li{a: c;
                a{a: c;

                }
            }
        }
        ul{a: c;
            li{a: c;
                a{a: c;

                }
            }
        }
        p{a: c;

        }
    }
}